@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MediQuick.Data.Enums
@{
    ViewData["Title"] = "View Ambulance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Authorised = true;
    Model.AllowedRoles = new List<string> { 
        RoleType.Admin.ToString(),
        RoleType.HospitalAdmin.ToString(),
        RoleType.HospitalEmployee.ToString() };
}

@model ViewAmbulanceModel

<link rel="stylesheet" href="https://js.arcgis.com/4.25/esri/themes/light/main.css">
<script src="https://js.arcgis.com/4.25/"></script>
<script src="~/js/view-ambulance.js"></script>
<script>
setInterval(function() {
   $.ajax({
       url: "/Ambulance/AmbulanceInfoPartial?ambulanceId=@Model.AmbulanceId",
       type: "get",
       data: $("form").serialize(), //if you need to post Model data, use this
       success: function (result) {
           $("#partial").html(result);
       }
   });
 }, 30000);


</script>

<div id="partial">
    @Html.Partial("_AmbulanceInfoPartial", Model);
</div>

