<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b6856694-ecfa-4e23-b53f-9dbb4ae62404/resourceGroups/MediQuick_group/providers/Microsoft.Web/sites/MediQuick</ResourceId>
    <ResourceGroup>MediQuick_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mediquick.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>191af30b-b8b6-4382-bce6-46ebad15767c</ProjectGuid>
    <PublishUrl>https://mediquick.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MediQuick</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>