@{
    ViewData["Title"] = "About";
    Model.AllowedRoles.Add("hospitalAdmin");
}

<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">MediQuick is a innovative project created by Amer Pandzharov for the NOIT 2023 competition. The goal of MediQuick is to revolutionize the way ambulances transfer patient information to hospitals. With the use of cutting-edge technology, MediQuick streamlines the transfer process, ensuring that hospitals receive all necessary information in a quick and efficient manner.</p>
                        <p class="aboutus-text"></p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Our mission</h4>
                                    <p>Our mission is to improve patient outcomes and reduce the risk of medical errors. By providing real-time information, MediQuick empowers medical teams to make informed decisions and provide the best possible care. With our user-friendly interface and secure information transfer methods, MediQuick is the solution to streamline communication between ambulances and hospitals.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Join us</h4>
                                    <p>Join us in our mission to revolutionize the medical field and improve patient outcomes. Try MediQuick today!</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Contact Us</h4>
                                    <p>You can always email us at amerpandzharov@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>