@using MediQuick.Data.Enums
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Ambulance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Authorised = true;
    Model.AllowedRoles = new List<string> { RoleType.hospitalAdmin.ToString(), RoleType.admin.ToString() };
}

@model CreateAmbulanceModel

@using (Html.BeginForm("CreateAmbulancePost", "Hospital", FormMethod.Post)){
<section class="vh-100" style="background-color: #fffff;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                
                <h3 class="mb-5">Create Ambulance</h3>

                @if(Model.User.UsersRoles.Select(x => x.Role.Name).Contains(RoleType.admin.ToString()))
                {
                    @Html.TextBoxFor(x => x.HospitalId, new {@class = "form-control form-control-lg"})

                    <label class="form-label">Hospital Id</label>
                    <br />
                }
                <button class="btn btn-primary btn-lg btn-block" type="submit">Create Ambulance</button>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
}